<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CobolAnalyzer.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <CobolAnalyzer.UI.Properties.Settings>
            <setting name="sizeX" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="sizeY" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="locationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="locationY" serializeAs="String">
                <value>0</value>
            </setting>
        </CobolAnalyzer.UI.Properties.Settings>
    </userSettings>
</configuration>
